header {
  display: flex;
  padding: 5% 5% 2% 5%;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

body {
  justify-content: center;
  background-attachment: fixed;
  background-color: white;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  background-image: url(images/header.png);
  background-size: cover;
  background-position: center;
  background-clip: padding-box;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.amalia {
  width: 100%;
  height: auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0;
  padding: 0;
}

.developer {
  color: #36b37f;
  font-size: xx-large;
}

.contact {
  font-size: medium;
  padding-left: 20%;
  padding-right: 20%;
}

.icons {
  display: flex;
  padding: 5%;
  gap: 5px;
  justify-content: space-around;
  align-items: baseline;
}

.icons li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Arial Narrow Bold', sans-serif;
  font-size: 100%;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #172b4d;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.descript {
  display: grid;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 100%;
  line-height: 32px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #3a4a42;
  padding: 16px;
}

.planholder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  width: 97%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .planholder {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-right: 0;
    justify-content: stretch;
  }
}

.img {
  width: 90%;
  height: auto;
  margin-top: 10px;
  align-items: center;
}

ul.language {
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-left: 0;
}

li:hover {
  color: mediumseagreen;
}

ul.language li {
  display: inline;
  list-style-type: none;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.projects {
  display: inline-block;
  margin-top: 25px;
  background-color: #36b37f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  cursor: pointer;
}

.projects:hover {
  background-color: #172b4d;
}

.AboutMeHeader > div {
  margin: 0;
}

.resume {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  background-image: url(images/aboutme.png);
  background-position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.me {
  width: 100%;
  height: auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  align-items: center;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
}

.help {
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.skills {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 100%;
  line-height: 15%;
  text-align: center;
  color: #344563;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 5%;
}

.box1,
.box2,
.box3 {
  display: grid;
  background-color: rgba(61, 60, 61, 0.282);
  height: 90%;
  width: 95%;
  gap: 10%;
  place-items: center;
  justify-content: stretch;
  justify-items: center;
}

.aboutyou {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: url(images/illustration-contact-form.png);
  background-size: 20%;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.aboutyou-title {
  font-family: 'Input', sans-serif;
}

@media screen and (min-width: 768px) {
  .aboutyou {
    width: 100%;
    justify-content: space-between;
  }
}

.comment {
  font-size: x-large;
  width: fit-content;
  padding: 5%;
  margin: 0;
  text-align: center;
}

.form {
  display: flex;
  width: 90%;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  text-align: center;
  box-sizing: 100%;
  padding: 10px 0 10px 0;
  border-style: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.textarea {
  font-family: 'Input', Arial, Helvetica, sans-serif;
  color: slategray;
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .aboutyou {
    display: flex;
    flex-direction: row;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .coment {
    font-size: medium;
    text-align: justify;
    width: 50%;
  }
}

.touch {
  display: block;
  background-color: #36b37f;
  border: none;
  color: white;
  padding: 3px 20px;
  margin-top: 10px;
  justify-content: center;
  width: 50%;
}

.icon {
  display: inline-flex;
  align-items: baseline;
  align-self: center;
  align-content: center;
  justify-content: center;
  margin-top: 10%;
  border-radius: 50%;
}

.mail {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-bottom: 30%;
}

.LoremIpsum {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 95%;
  height: auto;
}

.snapshot {
  display: flex;
  justify-content: stretch;
}

div .phoneimg {
  width: max-content;
  height: auto;
  align-items: center;
  justify-content: center;
}

div .tabletimg {
  width: max-content;
  height: auto;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 90%;
}

.keep {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 250%;
  color: #172b4d;
}

@media screen and (min-width: 768px) {
  .keep {
    display: flex;
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  div .phoneimg,
  ul.language li.phone {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .tabletimg,
  ul.language li.tablet {
    display: none;
  }
}

.lorem {
  display: flex;
  text-align: justify;
  justify-content: space-around;
  width: 90%;
}

.button,
.button1 {
  display: flex;
  margin-top: 7%;
}

.Live {
  display: block;
  margin: 1%;
  margin-top: 25px;
  background-color: #36b37f;
  background-image: url(images/Live.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  color: white;
  padding: 20px 65px;
  text-align: center;
  font-size: 16px;
  justify-content: right;
  align-items: center;
  justify-items: center;
  align-content: center;
  cursor: pointer;
  float: right;
}

.Live1 {
  display: block;
  flex-direction: column;
  margin: 1%;
  margin-top: 25px;
  background-color: #36b37f;
  background-image: url(images/Live.png);
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  border: none;
  color: white;
  padding: 20px 65px;
  text-align: center;
  font-size: 16px;
  justify-content: right;
  align-items: center;
  justify-items: center;
  align-content: center;
  cursor: pointer;
}

.Live:hover,
.Live1:hover {
  display: block;
  border-style: solid;
  border-color: rgb(89, 153, 249);
}

.Source {
  display: block;
  flex-direction: column;
  margin: 1%;
  margin-top: 25px;
  background-color: #36b37f;
  background-image: url(images/Source.png);
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  border: none;
  color: white;
  padding: 20px 65px;
  text-align: center;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  cursor: pointer;
  float: right;
}

.Source1 {
  display: block;
  flex-direction: column;
  margin: 1%;
  margin-top: 25px;
  background-color: #36b37f;
  background-image: url(images/Source.png);
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  border: none;
  color: white;
  padding: 20px 65px;
  text-align: center;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  cursor: pointer;
}

.Source:hover,
.Source1:hover {
  border-style: solid;
  border-color: rgb(89, 153, 249);
}

@media screen and (min-width: 768px) {
  .Live,
  .Source {
    float: right;
    flex: 1;
  }

  .Live1,
  .Source1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Live1,
  .Source1 {
    display: flex;
    flex-direction: row;
  }

  .Live,
  .Source {
    display: none;
  }
}
