header {
  display: flex;
  padding: 5% 5% 2% 5%;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

body {
  background-attachment: fixed;
  background-color: white;
}

.main {
  background-image: url(frame.png);
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.illustration {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: fill;
}

.amalia {
  width: 100%;
  height: auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0;
  padding: 0;
}

.developer {
  color: #36b37f;
  font-size: xx-large;
}

.contact {
  font-size: medium;
  padding-left: 20%;
  padding-right: 20%;
}

.icons {
  display: flex;
  padding: 20%;
  padding-bottom: 10%;
  gap: 10px;
  justify-content: space-around;
  max-width: 200px;
  align-items: baseline;
}

.icons li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.frame {
  max-inline-size: 100%;
  object-fit: cover;
  block-size: auto;
  width: 92.81px;
  height: 132.37px;
  left: 409.63px;
  top: 6225px;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #172b4d;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.descript {
  display: grid;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 26px;
  margin-right: 22px;
  color: #3a4a42;
  padding: 16px;
}

.planholder {
  display: grid;
  grid-template-columns: auto auto auto;
  width: auto;
  height: auto;
  justify-content: center;
  padding: 0;
  margin: auto;
  align-items: center;
  align-content: center;
}

.img {
  width: 90%;
  height: auto;
  margin-top: 10px;
  align-items: center;
}

ul.language {
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul.language li {
  display: inline;
  list-style-type: none;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.projects {
  display: block;
  margin: auto;
  margin-top: 25px;
  background-color: #36b37f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  justify-content: center;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.me {
  width: 100%;
  height: auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  align-items: center;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
}

.help {
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

ul.languages {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50%;
  background-position: center;
  box-shadow: thistle;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10;
}

ul.languages li {
  display: inline;
  list-style-type: none;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.skills {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.form {
  text-align: center;
  border-color: #172b4d;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content;
}

.aboutyou {
  text-align: left;
  align-items: left;
  padding: 20px;
}

.box1,
.box2,
.box3 {
  color: thistle;
  height: 200px;
  max-height: 35vh;
}
.touch {
    display: block;
    margin: auto;
    margin-top: 25px;
    background-color: #36b37f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    justify-content: flex-end;
  }
